<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>cookies</string>
		<key>cost</key>
		<integer>15</integer>
		<key>availableNumber</key>
		<integer>10</integer>
		<key>manufacture</key>
		<string>France</string>
		<key>hasDiscount</key>
		<false/>
		<key>DateOfManufacture</key>
		<date>2017-03-14T17:01:16Z</date>
	</dict>
	<dict>
		<key>title</key>
		<string>chocolate</string>
		<key>cost</key>
		<integer>50</integer>
		<key>availableNumber</key>
		<integer>10</integer>
		<key>manufacture</key>
		<string>France</string>
		<key>hasDiscount</key>
		<true/>
		<key>DateOfManufacture</key>
		<date>2017-03-14T17:01:14Z</date>
	</dict>
	<dict>
		<key>title</key>
		<string>candies</string>
		<key>cost</key>
		<integer>20</integer>
		<key>availableNumber</key>
		<integer>30</integer>
		<key>manufacture</key>
		<string>France</string>
		<key>hasDiscount</key>
		<true/>
		<key>DateOfManufacture</key>
		<date>2017-03-14T17:01:11Z</date>
	</dict>
	<dict>
		<key>title</key>
		<string>pies</string>
		<key>cost</key>
		<integer>5</integer>
		<key>availableNumber</key>
		<integer>100</integer>
		<key>manufacture</key>
		<string>France</string>
		<key>hasDiscount</key>
		<true/>
		<key>DateOfManufacture</key>
		<date>2017-03-14T17:01:08Z</date>
	</dict>
	<dict>
		<key>title</key>
		<string>brownies</string>
		<key>cost</key>
		<integer>25</integer>
		<key>availableNumber</key>
		<integer>25</integer>
		<key>manufacture</key>
		<string>France</string>
		<key>hasDiscount</key>
		<false/>
		<key>DateOfManufacture</key>
		<date>2017-03-14T17:00:11Z</date>
	</dict>
	<dict>
		<key>title</key>
		<string>coffee Arabika</string>
		<key>cost</key>
		<integer>10</integer>
		<key>availableNumber</key>
		<integer>150</integer>
		<key>manufacture</key>
		<string>France</string>
		<key>hasDiscount</key>
		<false/>
		<key>DateOfManufacture</key>
		<date>2017-03-14T17:01:23Z</date>
	</dict>
	<dict>
		<key>title</key>
		<string>jujubes</string>
		<key>cost</key>
		<integer>100</integer>
		<key>availableNumber</key>
		<integer>50</integer>
		<key>manufacture</key>
		<string>France</string>
		<key>hasDiscount</key>
		<false/>
		<key>DateOfManufacture</key>
		<date>2017-03-14T17:01:20Z</date>
	</dict>
</array>
</plist>
